{% extends 'layout.html.twig' %}

{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="well">

    <form method="post" action="/admin/article/add" onsubmit="return valider()" name="formSaisie">

        <div class="row">

            <div class="form-group">
                <div class="col-sm-6">
                    <label for="title">Titre :</label>
                    <input type="text" name="title" id=$title >
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label for="content">contenu :</label>
                <textarea type="textarea" name="content" id=$content  ></textarea>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-4">
                    <p></p>
                    <input type="submit" class="btn btn-primary" value="Publier l'article" formnovalidate="true"/>
                </div>
            </div>
        </div>
    </form>
    </div>
    {% block javascript %}
        {{ parent() }}
    <script type="text/javascript" src="{{ asset('/lib/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea'
        });
    </script>
    <script type="text/javascript">
        function valider() {

            // if the field title is not empty
            if (document.formSaisie.title.value && document.formSaisie.content.value) {
                // it's ok, we can send the form
                return true;
            }
            else {
                // else we display a message
                swal({
                    title: "Veuillez Saisir un titre et un contenu à votre article",
                    text: "",
                    type: "warning",
                    confirmButtonText: "Ok"
                });
                // and we can't send the form
                return false;
            }

        }




    </script>
    {% endblock %}

{% endblock %}