{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <p>
    <h2>{{ article.title }}</h2>
    <div class="article">
    <p>{{ article.content | raw }}</p>
    </div>
    <p></p>
    <p class="pull-right">Publié le {{ article.date|date('d-m-Y')}} par Jean Forteroche</p>
    <p></p>
    <h3>Commentaires</h3>

    <button type="button" class="btn btn-primary" onclick="toggle_div(this,'id_du_div','Ajouter un commentaire','Annuler');">Ajouter un commentaire</button>
    <div id="id_du_div" style="display:none;">
        <p></p>
            <form method="post" action="/article/{{ article.id }}/add_comment">
                <input name="id" id=$id  type="hidden" value="{{ article.id }}">
                {#<input name="commentId" id=$commentId type="hidden" value="">#}
                <div class="row">

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="input-field col s6">
                            <input type="text" name="author" id=$author value="{{ app.user.name }}">
                        </div>
                    {% else %}
                        <div class="input-field col s6">
                            <input type="text" name="author" id=$author placeholder="Entrez votre nom">

                        </div>
                    {% endif %}
                    <p></p>
                    <div class="input-field col s12">
                    <textarea type="textarea" name="content" id=$content placeholder="Entrez votre commentaire" required></textarea>
                    </div>
                <input type="submit" class="btn btn-primary" value="Publier le commentaire" />
                </div>
            </form>

        </div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <p></p>
    {% if comments %}
        {% for comment in comments %}
            {#We include comment template#}
            {% include 'comment.html.twig' %}
        {% endfor %}
        {#If there are no comment for an article, we display a simple string#}
    {% else %}
        <p>Pas encore de commentaires pour ce billet.</p>
    {% endif %}

    <p class="scrollToTop">
        <a id="scroll-to-top" class="scroll-to" href="#"><i class="glyphicon glyphicon-chevron-up" style="color: #fecb00 ; font-size: 30px"></i></a>
    </p>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        <!--
        jQuery(document).ready(function(){
            jQuery(window).scroll(function(){
                if ($(this).scrollTop() > 50) {
                    jQuery('#scroll-to-top').fadeIn();
                } else {
                    jQuery('#scroll-to-top').fadeOut();
                }
            });

            jQuery('#scroll-to-top').click(function(){
                jQuery('html, body').animate({scrollTop : 0},1200);
                return false;
            });
            jQuery('#scroll-to-bottom').click(function(){
                jQuery('html, body').animate({scrollTop: $(document).height()-$(window).height()},1200);
                return false;
            });
        });
        -->
    </script>
{% endblock %}