{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <p>
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>

    <h3>Commentaires</h3>

    <button type="button" class="btn btn-primary" onclick="toggle_div(this,'id_du_div','Ajouter un commentaire','Annuler');">Ajouter un commentaire</button>
    <div id="id_du_div" style="display:none;">
        {% if commentForm %}
            {{ form_start(commentForm) }}
            <div class="form-group">
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Enter your comment'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publier le commentaire" />
            </div>
            {{ form_end(commentForm) }}
        {% endif %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
    <p></p>
    {% if comments %}
        {% for comment in comments %}
            {#We include comment template#}
            {% include 'comment.html.twig' %}
            <hr class="commentBloc">
        {% endfor %}
        {#If there are no comment for an article, we display a simple string#}
    {% else %}
        <p>Pas de commentaires.</p>
    {% endif %}


{% endblock %}