
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="post-meta">

                Le {{ comment.date|date('d-m-Y \\à\\ H:i') }} <strong>{{ comment.author }}</strong> a commenté :
            <p> {{ comment.content |  escape |  raw | nl2br}}</p>

            <a class="btn btn-warning pull-right" href="{{ path('report_comment', { 'id': comment.id }) }}" title="Signaler ce commentaire comme inopportun">Signaler le commentaire</a>
            <button type="button" class="btn btn-primary" onclick="toggle_div(this,'div_reponse.{{ comment.id }}','Répondre','Annuler');">Répondre</button>

            <p></p>
            <div id="div_reponse.{{ comment.id }}" style="display:none;">

                <form method="post" action="/article/{{ article.id }}/add_comment">

                    <input name="id" id=$id  type="hidden" value="{{ article.id }}">
                    <input name="commentId" id=$commentId type="hidden" value="{{ comment.id }}">
                    <div class="row">

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="input-field col s6">
                                <input type="text" name="author" id=$author value="{{ app.user.name }}">
                            </div>
                        {% else %}
                            <div class="input-field col s6">
                                <input type="text" name="author" id=$author placeholder="Entrez votre nom">

                            </div>
                        {% endif %}





                        <p></p>
                        <div class="input-field col s12">
                            <textarea type="textarea" name="content" id=$content placeholder="Entrez votre commentaire" required></textarea>
                        </div>
                        <p></p>
                        <input type="submit" class="btn btn-primary" value="Publier le commentaire" />
                    </div>
                </form>


            </div>

            </p>
        </div>



    </div>
    {% for children in childrenComments[comment.id] %}
        <div class="panel panel-default col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
            <div class="panel-body">
                <p class="post-meta">

                    Le {{ children.date|date('d-m-Y \\à\\ H:i') }} <strong>{{ children.author }}</strong> a répondu :<p> {{ children.content |  escape | nl2br}}</p>
                <a class="btn btn-warning pull-right" href="{{ path('report_comment', { 'id': comment.id }) }}">Signaler le commentaire</a>
                <button type="button" class="btn btn-primary" onclick="toggle_div(this,'div_reponse.{{ children.id }}','Répondre','Annuler');">Répondre</button>
                <p></p>
                <div id="div_reponse.{{ children.id }}" style="display:none;">



                    <form method="post" action="/article/{{ article.id }}/add_comment">
                        <input name="id" id=$id  type="hidden" value="{{ article.id }}">
                        <input name="commentId" id=$commentId type="hidden" value="{{ children.id }}">
                        <div class="row">

                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <div class="input-field col s6">
                                    <input type="text" name="author" id=$author value="{{ app.user.name }}">
                                </div>
                            {% else %}
                                <div class="input-field col s6">
                                    <input type="text" name="author" id=$author placeholder="Entrez votre nom">

                                </div>
                            {% endif %}
                            <p></p>
                            <div class="input-field col s12">
                                <textarea type="textarea" name="content" id=$content placeholder="Entrez votre commentaire" required></textarea>
                            </div>
                            <p></p>
                            <input type="submit" class="btn btn-primary" value="Publier le commentaire" />
                        </div>
                    </form>


                </div>
                </button>

                </p>

            </div>

        </div>
        {% for children2 in childrenCommentsLevel2[children.id] %}
            <div class="panel panel-default col-lg-offset-2 col-md-offset-2 col-xs-offset-2">
                <div class="panel-body">
                    <p class="post-meta">
                        Le {{ children2.date|date('d-m-Y \\à\\ H:i') }} <strong>{{ children2.author }}</strong> a répondu :<p> {{ children2.content |  escape | nl2br}}</p>
                    <a class="btn btn-warning pull-right" href="{{ path('report_comment', { 'id': comment.id }) }}">Signaler le commentaire</a>



                    </p>


                </div>
            </div>

        {%  endfor %}
    {%  endfor %}


