{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <h2 class="text-center">{{ block('title') }}</h2>



    <div class="well">

        <div class="form-group">
            <div class="col-sm-5 control-label">

            </div>

            <div class="col-sm-4">

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5 control-label">

            </div>

            <div class="col-sm-4">

            </div>
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5 control-label">

            </div>

            <div class="col-sm-4">

            </div>
        </div>
        </div>
        <div class="form-group" hidden>
            <div class="col-sm-5 control-label">

            </div>

            <div class="col-sm-4">

            </div>
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-3">
                <a href="{{ path('admin') }}#users" class="btn btn-danger">Annuler</a>
                <input type="submit" class="btn btn-primary" value="Enregistrer" />
            </div>
        </div>

    </div>


    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <h6 id="account-title">
            Bonjour {{ user.name }}
        </h6>

        <button id="username-button" class="btn waves-effect waves-light blue-grey darken-1" disabled>Changez votre nom d'utilisateur</button><br>
        <form id="username-form" method="post" action="">
            <div class="row">
                <div class="input-field col s5">
                    <label for="username">Changez votre nom d'utilisateur</label>
                    <input type="text" name="username" id="username" placeholder="{{ user.username }}" required>
                </div>
            </div>
            <button type="submit" class="btn waves-effect waves-light orange accent-2">Valider</button>
        </form>

        <button id="password-button" class="btn waves-effect waves-light blue-grey darken-1" disabled>Changez votre mot de passe</button><br>
        <form id="password-form" method="post" action="">
            <p><em>Attention : Pour plus de sécurité, veillez à utiliser un mot de passe fort (comprenant des chiffres, lettres et caractères spéciaux).</em></p>
            <div class="row">
                <div class="input-field col s5">
                    <label for="old-password">Votre mot de passe actuel</label>
                    <input type="password" name="old-password" id="old-password" placeholder="*******" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s5">
                    <label for="password">Votre nouveau mot de passe</label>
                    <input type="password" name="password" id="password" placeholder="*******" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s5">
                    <label for="password-confirmation">Confirmez le mot de passe</label>
                    <input type="password" name="password-confirmation" id="password-confirmation" placeholder="*******" required>
                </div>
            </div>
            <button type="submit" class="btn waves-effect waves-light orange accent-2">Valider</button>
        </form>


    </div>



{% endblock %}
