{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <h2 class="text-center">{{ block('title') }}</h2>
    <h3 class="text-center"> {{ user.name }} </h3>


<form action="/admin/user/save" id="form-article" method="post">
                <input name="id" id=$id  type="hidden" value="{{ user.id }}">
                <input name="role" id=$role  type="hidden" value="{{ user.role }}">
    <div class="well">
        <div class="form-group">
        <div class="row">
            <div class="col-sm-5 control-label">
                <label for="username">votre nom d'utilisateur</label>
            </div>

            <div class="col-sm-4">
                <input type="text" name="username" id=$username value="{{ user.username }}" required>
            </div>
        </div>
            <p></p>
        <div class="row">
            <div class="col-sm-5 control-label">
                <label for="name">votre nom complet</label>
            </div>

            <div class="col-sm-4">
                <input type="text" name="name" id=$name value="{{ user.name }}" required>
            </div>
        </div>
            <p></p>
        <div class="row">
            <div class="col-sm-5 control-label">
                <label for="password">Votre nouveau mot de passe</label>
            </div>

            <div class="col-sm-4">
                <input type="password" name="password" id=$password placeholder="*******" required>
            </div>
        </div>
            <p></p>
        <div class="row" >
            <div class="col-sm-5 control-label">
                <label for="password-confirmation">Confirmez le mot de passe</label>
            </div>

            <div class="col-sm-4">
                <input type="password" name="password-confirmation" id=$password-confirmation placeholder="*******" required>
            </div>
        </div>
            <p></p>
        <div class="row">
            <div class="col-sm-offset-5 col-sm-3">
                <a href="{{ path('admin') }}#users" class="btn btn-danger">Annuler</a>
                <input type="submit" class="btn btn-primary" value="Enregistrer" />
            </div>
        </div>
        </div>
    </div>
</form>







{% endblock %}
